<header class="page-header">
  <div class="container">
    <h1>
      <a href="{{site.url}}">{{ site.name }}</a>
    </h1>
    <p>
      Всем привет. Работаю верстальщиком в <a target="_blanc" href="http://fun-box.ru">Funbox</a>. На <a href="https://www.behance.net/langolf" target="_blanc">Behance</a> можно посмотреть мои старые иллюстрации. <a target="_blanc" href="http://instagram.com/langolf">Instagram</a> для фотокарточек. У меня есть пока пустой <a target="_blanc" href="https://github.com/langolf">Github</a>. Иногда бываю на <a href="https://www.facebook.com/alangolf" target="_blanc">Facebook</a>. А вообще айда в <a target="_blanc" href="https://twitter.com/langolf">Twitter</a>.
    </p>
  </div>
</header>

